
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}


.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}

// Handle buttons appropriately, with respect to line-height
.mat-form-field {
  margin-top: 2px;
  font-size: medium;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: -3px;
  width: 96%;
}

// Used in Login and signup components only
.mat-card {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}


#menu-buttons {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}

.box {
  flex-grow: 1;
  border: 3px solid rgba(0,0,0,.2);
}

.mat-card-parent {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.login-submit-button {
  width: 100%;
  align-items: center;
}

.login-field {
  width: 96%;
  padding: 2px;
  align-items: center;
}


.logo {
  height: 3.25rem;
  margin-left: 2rem;
}
////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.0rem;
  color: white;

  @media only screen and (max-width: $bp-medium) {
      display: flex;
      margin: 0;
   }
  
  &__item {
      position: relative;

      &:not(:last-child) {
          margin-bottom: .5rem;

          @media only screen and (max-width: $bp-medium) {
              margin: 0;
          }
      }

      @media only screen and (max-width: $bp-medium) {
          flex: 1;
      }
  }

  &__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(gray);
      transform: scaleY(0);
      transition: transform .2s,
                  width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
      transform: scaleY(1);
      width: 100%;
  }

  &__item:active::before {
      background-color: var(--color-primary-light);
  }


  &__link:link,
  &__link:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      position: relative;
      z-index: 10;

      display: flex;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
          justify-content: center;
          padding: 2rem;
      }

      @media only screen and (max-width: $bp-small) {
          flex-direction: column;
          padding: 1.5rem .5rem;
      }
  }

  &__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor;

      @media only screen and (max-width: $bp-large) {
          margin-right: 0;
          margin-bottom: .7rem;
          width: 1.5rem;
          height: 1.5rem;
      }
  }
}

////////////////////////////////////////
// LEGAL TEXT
.legal {
  font-size: 1rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
      display: none;
  }
}

