<div class="container">
    <!-- JIRA -->
    <div class="item item--1"> Task Completion
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [title]="chartOptions.title">
            </apx-chart>

    </div>
    
    <!-- <div class="item item--2"> Service Requests
        <gantt></gantt>
    </div> -->

    <!-- Alerts and Warnings -->
    <div class="item item--3"> Team Tasks Distribution
        <app-donut-chart></app-donut-chart>
    </div>
</div>
